#### ASSIGNMENT 2

Q1. How do you comment code in Python? What are the different types of comments?

There are multiple approches to use comment in python.
1.  Single line comment using hash # 
2.   Multi line comment using triple single quotation ''' 
    or using triple double quotation """ 
3.  Doc String are considered as comments also.
    
Example for Single line comment: 
 # We're attending DATA SCIENCE MASTER 2.0 CLASS.
 
Example for multiline comment using triple single quotation:
''' Here we will learn Python, ML, STATISTICS, POWER BI, TABLEAU
    AND MANY MORE '''

Example for multiline comment using triple double quotation:
""" We will acquire a lot of knowledge from very high skilled     experienced faculties"""

Example of docstring:
def addition_num(a, b):
	""" addition_num will take two arguments in a and b ,add them and return the result"""
	return a*b

print(addition_num.__doc__)

Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are name of memory locations assigned  to represent values. It is used to store data.

In Python language, variables are dynamically typed, so no need to declare explicitly.

Example1: num = 123  # Here Python will interprete 123 as integer type.

Example2: name = 'Raj' # Here Python will interprete Raj as string type.

Example3: num2 =23.35 # Here Python will interprete 23.35 as Float type.

Q3. How do you convert one data type to another in Python?

In Python, we have built in function to convert data type from one type to another type.
Example: n = 55
         n = float(55)
         print(n) ## Result will be of float type i.e 55.0

Example2: n=555
          n=str(n)
          print(n) ## Result will be of string type i.e "555"

Example3: 
          
data = [35,53,26,45,64,35,"hello", "Data Science"]
data1 = str(data) # "[35, 53, 26, 45, 64, 35, 'hello', 'Data Science']"
data2 = set(data) # {26, 35, 45, 53, 64, 'Data Science', 'hello'}
data3 = list(data2) # [64, 35, 'Data Science', 45, 53, 'hello', 26]
data4 = tuple(data)  # (35, 53, 26, 45, 64, 35, 'hello', 'Data Science')

Q4. How do you write and execute a Python script from the command line?

 Need to write python program in a file that ends with .py  
step 1-   In a text file  write code using default text editor or using any IDE of our choice.
           example: print("We are learning Data Science")
step 2 - Save the file as per your choice followed by .py extension, here I'll give DataScience.py
step 3- type cmd in search and open.
step 4- then go to that directory where that DataScience.py file exists.
step 5 - type : python DataScience.py
step 6- Now, we can see the output  : We are learning Data Science

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, Complex number is represented in the form a + bi , where "a" and "b" are real numbers, and "i" is the imaginary.
In Python, we represent it in the form of a+bj, where "a" is the real number and "b" is the imaginary number. j is associated with "b" to represent it as imaginary.

In [20]:
# Example: 
i_num = 4+5j
print(i_num)
print(i_num.real)
print(i_num.imag)

(4+5j)
4.0
5.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

To declare a variable we can give any name as per user convenience followed by assignement operator and then assign value to it.
As per the above question,  we are using age as the variable name then assignment operator and then assign value 25 to it.
Example : age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [6]:
price = 9.99
# price belongs to float type.
# we can also check by using type operator 
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [7]:
name = "Raj Kumar Sahoo"
# I would print the variable "name" using predefined print function by passing the variable "name"  as argument inside it.
print(name)

Raj Kumar Sahoo

Q10. Given the string "Hello, World!", extract the substring "World".

In [21]:
str_name = "Hello, World!"
print(str_name)
print(str_name[7:12]) 
print(str_name[7:-1])

Hello, World!
World
World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [22]:
is_student = True
if is_student == True:
    print("I'm a student")
else:
    print("I'm not a student")

I'm a student