Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [27]:
all_type_data = ["PW", ["DataScience"], 5.55, (34, 35)]

In [28]:
all_type_data

['PW', ['DataScience'], 5.55, (34, 35)]

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[DS, ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

var1 = ' '    
var2 = '[ DS , ML , Python]'   
var3 = [ 'DS' , 'ML' , 'Python' ]  
var4 = 1.

In [ ]:
var1 = ' '     #String
var2 = '[ DS , ML , Python]'   # String
var3 = [ 'DS' , 'ML' , 'Python' ]  # List
var4 = 1. # Float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [19]:
a= 55
b = 4

#(i) / Division
data_i = a/b

#(ii) % Modulus
data_ii = a%b

#(iii) // Floor Division
data_iii = a//b

#(iv) ** exponential
data_iv = a**b

print(data_i)
print(data_ii)
print(data_iii)
print(data_iv)

13.75
3
13
9150625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
all_type_data = ['Python',True,"PWSKILLS", ["DataScience"],5.55,(34,35),5005,False,'15','True']

for i in range(0,len(all_type_data)):
    print(type(all_type_data[i]))

<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>
<class 'int'>
<class 'bool'>
<class 'str'>
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [33]:
num1 = 100
num2 = 5
i = 0

while num1 >= num2:
    if num1 % num2 == 0:
        i+=1
        num1 = num1/num2
        
if i>0:
    print(i,"times divisible")
else:
    print("Not divisible")

2 times divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [34]:
a =list(range(1,26))
for i in a:
    if i % 3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [36]:

#Mutable is a property in Python Programming which basically means object of List, Tuple, string, Boolean value can be changed after the creation also.
list_data = ['Learn', 'Data Science', 1.0]
list_data[2] = 2.0
print(list_data)

#Immutable is a property in Python Programming which basically means object of List, Tuple, string, Boolean value can't be changed one's created.
Data = 'Data Science'
Data[0] = 'New'   # will give error

['Learn', 'Data Science', 2.0]